/* body{
  background-color: black;
} */
.container::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
  overflow-x: hidden;
}
.login-pg, .signup-pg{
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.login-pg{
  display: flex;
  justify-content: center;
  text-align: center;
}
.login-pg img, .signup-pg img{
  margin-left: 10px;
}
.lg-bx{
  display: inline-block;
}
.login-hd h1{
  color: blueviolet;
  font-size: 70px;
}
/* .login-hd span{
  color: rgb(100, 205, 236);
  font-weight: 600;
} */
.login-hd a{
  text-decoration: none;
  color: rgb(202, 16, 103);
  font-weight: 600;
}
.user-details input{
  padding:  10px 4rem;
  border-radius: 30px;
  margin: 5px auto;

}

#qus-bx label{ 
  margin: 2rem;
  cursor: pointer;

}

#btn button{
  padding:  10px 8rem;
  border-radius: 30px;
  background-color: blueviolet;
  color: aliceblue;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.sg-in-btn{
  text-decoration: none;
  color: aliceblue;

}

/*Sign  in style*/
.login-pg{
  margin-top: 5rem;
}
.fr-psw{
  display: inline-flex;
}
.user-details .fr-psw input{
 padding-left: 0px;
}
.fr-psw p{

 margin: 5px;

}
